bin/
obj/
appsettings.json
appsettings.Development.json
.vscode/
*.user
*.suo
.vs/
.vs/ProjectEvaluation/proyecto-nutricionista.projects.v9.bin
*.bin
/.vs
frontend/.env
backend/wwwroot/uploads/avatars/default-user.png
/backend/wwwroot
